{% extends 'layouts/default.html' %}

{% block body %}
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus ab aliquid dignissimos sed amet labore blanditiis eligendi exercitationem error, esse asperiores inventore, quam porro, at cum facere expedita optio beatae?
    Laudantium blanditiis, fuga laboriosam non temporibus maiores iure architecto placeat, tempore nobis nostrum asperiores, ab in. Excepturi vitae, quaerat illo, dicta pariatur, neque laboriosam itaque eum delectus rerum blanditiis! Veritatis.
    Fuga ipsam eum tempore iure! Dignissimos cupiditate quaerat aut labore sunt optio eius tempora inventore, amet ipsum veritatis, autem voluptate! Aut dolore earum quidem fuga temporibus doloribus, tenetur excepturi id?</p>
{% endblock %}